@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body {
  font-family: 'Inter';
  overflow-x: hidden;
}
.wrapper {
  padding-top: 100px;
}
[class*='__container'] {
  max-width: 1005px;
  margin: 0 auto;
  padding: 0 15px;
}
.main {
  padding-top: 40px;
}
.title {
  font-size: 32px;
  font-weight: 700;
}
.button-green {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  min-height: 55px;
  border-radius: 15px;
  background-color: #9dd458;
  font-weight: 600;
  padding: 10px 20px;

  &.arrow-right {
    gap: 20px;

    &::after {
      content: '';
      background-image: url('../public/img/cart/arrow-b.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 15px;
      height: 15px;
    }
  }

  @media (any-hover: hover) {
    transition: background-color 0.2s ease 0s;
    &:hover {
      background-color: rgb(129, 188, 55);
    }
  }
}
